.stats-card.card {
	background-color: #33415c;
	overflow: hidden;
	color: white;
	border-radius: 27px;
	margin: 1.3em;
	padding: 1em;
	box-shadow: 0 4px 8px rgba(255, 255, 255, 0.15);
	flex-shrink: 1;
}

.stats-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-around;
	gap: 2em;
}

.stats-title {
	font-weight: bold;
	font-size: 1.7rem;
}

.stats-text {
	/* margin-top: 2rem; */
	font-weight: bold;
	font-size: 1.2rem;
}

.accuracy-highlight {
	color: #00a8ff;
	font-weight: bold;
}

.container-dona {
	margin-top: 2rem;
}
