.general-card {
    background-color: #33415C; 
    padding: 20px;
    display: inline-block;
    max-width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 27px;
    box-shadow: 5px 4px 24px -5px rgba(255, 255, 255, 0.24);
    margin: 10px;
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .general-card {
      width: 100%; 
    }
  }
  