.table-card.card {
	background-color: #33415c;
	overflow: hidden;
	color: white;
	border-radius: 27px;
	margin: 1.3em;
	padding: 1em;
	flex-grow: 2;
}

.table-title {
	font-weight: bold;
	font-size: 1.7rem;
}

.table-texts {
	margin-top: 2rem;
}
