.file-card.card {
	background-color: #33415c;
	overflow: hidden;
	color: white;
	border-radius: 27px;
	box-shadow: 0 4px 8px rgba(255, 255, 255, 0.15);
	margin: 1.3em;
	padding: 1em;
}

.upload-title {
	font-weight: bold;
	font-size: 1.7rem;
}

.csv-highlight {
	color: #00a8ff;
	font-weight: bold;
}

.res-card .card-body {
	padding: 15px 20px;
}

.res-card .card-title {
	font-weight: 600;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.res-card .card-text {
	display: flex;
	justify-content: space-between;
}

.res-card .card-text span {
	font-size: 1rem;
}
